<% content_for :title, @week %>
<% 
logs = week.non_empty_logs_for(current_user)
remaining = week.time_remaining_for(current_user)
labels = logs.map { |log| log.theme.to_s }
days = logs.map { |log| log.days }
colors = logs.map { |log| log.theme.color }
labels << 'Non affecté'
days << remaining
colors << '#CCCCCC'
%>
<p class="text-center">Du <%= l week.starting_at %> au <%= l week.ending_at %></p>
<div class="row border-top border-bottom my-5 py-4">
    <div class="col-md-4"><%= link_to @week.previous, @week.previous %></div>
    <div class="col-md-4 text-center"><%= link_to week.year, week.year %></div>
    <div class="col-md-4 text-end"><%= link_to @week.next, @week.next %></div>
</div>

<div class="row">
    <div class="col-lg-6">
        <p><%= week.time_logged_for(current_user) %> jours</p>
        <% @themes.each do |theme| %>
            <%= link_to log_path(week: week, theme: theme), class: 'btn btn-light me-2 mb-2' do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="<%= theme.color %>" class="bi bi-circle-fill align-baseline" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"></circle>
                </svg>
                <%= theme %>
            <% end  %>
        <% end unless @themes.nil? %>
    </div>
    <div class="col-lg-6">
        <div class="chart-container" style="position: relative; height:40vh; width: 100%">
            <canvas id="chart" width="400" height="400"></canvas>
        </div>
    </div>
</div>

<script>
const ctx = document.getElementById('chart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: <%= raw labels.to_json %>,
        datasets: [{
            label: 'jours',
            data: <%= raw days.to_json %>,
            backgroundColor: <%= raw colors.to_json %>
        }]
    },
    options: {
        indexAxis: 'y',
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: { display: false },
        }
    }
});
</script>

<table class="table mt-5">
    <thead>
        <tr>
            <td>Thème</td>
            <td>Jours</td>
        </tr>
    </thead>
    <% week.themes.each do |theme| %>
        <% days = week.time_logged_for_theme(theme) %>
        <% next if days.zero? %>
        <tr>
            <td><%= theme %></td>
            <td><%= days %> jours</td>
        </tr>
    <% end %>
</table>
