<% content_for :title, @theme %>
<% content_for :surtitle, link_to('Thèmes', themes_path) unless @year %>

<p class="d-print-none">
  <span class="badge" style="background: <%= @theme.color %>"><%= @theme.color %></span>
  <%= link_to "Modifier", edit_theme_path(@theme), class: 'btn btn-light btn-sm' %>
</p>


<% @years.each do |year| %>
  <% users = @users.reject { |user| user.days_logged(theme: @theme, year: year).zero? } %>
  <h2 class="h3 mt-5 mb-3"><%= year %></h2>
  <p class="lead"><%= year.days_logged_for_theme(@theme) %> jours</p>
  <table class="table table-hover mb-5">
    <thead>
        <tr>
            <th>Personne</th>
            <th>Jours</th>
        </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= link_to user, user %></td>
          <td><%= user.days_logged(theme: @theme, year: year)  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-hover mb-5">
    <thead>
        <tr>
            <th>Semaine</th>
            <th>Jours</th>
            <% users.each do |user| %>
              <th><%= user %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
      <% year.weeks.each do |week| %>
        <tr>
          <td><%= link_to week, week %></td>
          <td><%= week.days_logged_for_theme(@theme) %></td>
          <% users.each do |user| %>
            <td><%= user.days_logged(theme: @theme, week: week)  %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

