<% content_for :title, @year %>
<% content_for :surtitle, link_to('Années', years_path) %>

<h2 class="h3 mt-5 mb-3">Thèmes</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Thème</td>
            <td>Jours</td>
        </tr>
    </thead>
    <% @year.themes.each do |theme| %>
        <% days = @year.days_logged_for_theme(theme) %>
        <% next if days.zero? %>
        <tr>
            <td><%= link_to theme, year_theme_path(year_id: @year, id: theme) %></td>
            <td><%= days %> jours</td>
        </tr>
    <% end %>
</table>

<h2 class="h3 mt-5 mb-3">Semaines</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Semaine</td>
            <td>Jours</td>
        </tr>
    </thead>
    <tbody>
      <% @year.weeks.each do |week| %>
        <tr>
          <td><%= link_to week, week %></td>
          <td><%= week.days_logged %></td>
        </tr>
      <% end %>
    </tbody>
</table>


<h2 class="h3 mt-5 mb-3">Personnes</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Personne</td>
            <td>Jours</td>
        </tr>
    </thead>
    <tbody>
      <% @year.users.each do |user| %>
        <tr>
          <td><%= link_to user, user %></td>
          <td><%= user.days_logged(year: @year) %></td>
        </tr>
      <% end %>
    </tbody>
</table>

