<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preload" as="font" href="https://assets.noesya.coop/fonts/signifier/signifier-web-regular.woff2" type="font/woff2" crossOrigin="anonymous">
    <link rel="preload" as="font" href="https://assets.noesya.coop/fonts/signifier/signifier-web-regular-italic.woff2" type="font/woff2" crossOrigin="anonymous">
    <link rel="preload" as="font" href="https://assets.noesya.coop/fonts/signifier/signifier-bold.woff2" type="font/woff2" crossOrigin="anonymous">
    <link rel="preload" as="font" href="https://assets.noesya.coop/fonts/soehne/soehne-web-buch.woff2" type="font/woff2" crossOrigin="anonymous">
    <link rel="stylesheet" href="https://www.noesya.coop/assets/css/theme.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
    <link rel="icon" type="image/png" href="https://assets.noesya.coop/images/share/favicon.png" />
  </head>
  <body>
    <%= render 'header' %>
    <main aria-label="Content" class="index">
      <header>
        <h1><%= yield :title %></h1>
      </header>
      <section>
        <%= yield %>
      </section>
    </main>
    <%= render 'footer' %>
  </body>
</html>
